


.caption{
    text-transform: uppercase;
  }
  .input-group-text{
    width: 100%;
  }
  .load{
    float: inherit;
    display: block;
    margin: auto;
  }
  .car-header1 {
    background-color: rgba(220, 220, 220,0.8);
  }
  .car-header2 {
    background-color: rgba(220, 220, 220,0.5);
  }
  .brand-logo-cc{
    background: transparent url("../img/logo2.png");
    background-size: cover;
    float: inherit;
    display: block;
    margin: auto;
    text-indent: -999px;
    height: 130px;
    /*width: 130px;*/
    margin: none;
  }
  
  .mimg{
    overflow: hidden;
    position: relative;
    height: 100px;
    width: 125px;
    margin: 0px;
    padding: 0px;
  }
  img.fader{
    height: 95px;
    margin: 5px;
  }
  img.fader:hover{
    float: right;
  }
  
  .aqui{
    width: 150px;
  }
  .div-square {
    padding: 5px;
    padding-top: 20px;
    border: 3px double #e1e1e1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 5px;
    min-height: 140px;
  }
  
  .subtitulo{
    color: #555555;
    font-size: 0.8rem;
  }
  .modal-dialog{
    max-width: 80%;
    margin: auto;
  }
  .modal-dialog-log{
    max-width: 50%;
  }
  .fav-icon{
    display: block;
    margin: auto;
    max-width: 130px;;
  }
  .acordion-link{
    color: #644491;
  }
  .acordion-header {
    background-color: rgba(246,181,76,0.5);
  }
  .text-titmin{
    color: #644491;
  }
  .text-contmin{
    color: #f6a522;
  }
  .fonimg{
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .boton-encima{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .boton-encima-ini{
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .boton-encima-pri{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .img-size{
    height: 170px;
    width: 170px;
  }
  
  .redondo{
    border-radius: 50%;
    max-width: 24rem;
    height: 380px;
  }
  
  .redondo:hover,
  .redondo:focus {
    box-shadow: 0 0.6em 0.6em -0.5em #888888;
    transform: translateY(-0.25em);
    background-color: #eeeeee;
  }
  .card-img-top{
    height: 276px;
    width: 276px;
    border-radius: 50%;
  }
  
  
  .cuadrado{
    border-radius: 3%;
    max-width: 24rem;
    height: 325px;
    display:block;
    margin:auto;
    padding-top: 2px;
  }
  
  .cuadrado:hover,
  .cuadrado:focus {
    box-shadow: 0 0.6em 0.6em -0.5em #888888;
    transform: translateY(-0.25em);
    background-color: #eeeeee;
  }
  .tam{
    padding: 1.2rem;
  }
  .card-img-top-cc{
    height: 250px;
    width: 250px;
    border-radius: 3%;
  }
  
  .cont-tarj{
    border-radius: 25px;
    border: none;
    
  }
  .cont-tarj:hover,
  .cont-tarj:focus{
    box-shadow: none;
    transform: none;
  }
  .raise:hover,
  .raise:focus {
    box-shadow: 0 0.6em 0.6em -0.5em #888888;
    transform: translateY(-0.25em);
  }
  .boton-efect{
    border-radius: 20px;
    height: 200px;
    opacity: 1.0;
  }
  .boton-efect:hover,
  .boton-efect:focus {
    box-shadow: 5px 5px 5px 0px #888888;
    transform: translateY(-0.25em);
  }
  
  .boton-prim{
    border-radius: 25px;
    height: 130px;
  }
  .boton-sec{
    border-radius: 20px;
    height: 130px;
  }
  .boton-sec:hover,
  .boton-sec:focus {
    box-shadow: 0px 0px 0px 0px #888888;
    transform: translateY(-0.75em);
  }
  
  .boton{
    padding: 30px;
    text-transform: uppercase;
    border-radius: 50%; /*bordes redondos*/
  }
  .row-height{
    min-height: 20rem;
  }
  
  
  
  
  
  .bg-lila-1000{
    /*background-color: #644491!important;*/
    background-color: #004d8e!important;
  }
  .bg-img{
    background: url("../img/fondoh.png") /*no-repeat center center fixed #CACACA !important*/;
    
  }
  .bg-gray-1000{
    background-color: #EAEAEA!important;
    opacity: 0.8;
  }
  .cuestionario{
    background: whitesmoke;  
    opacity: 0.9;
  }
  .trans{
    background-color: rgba(255,255,255,1);
    opacity: 0.9;
  }
  
  
  
  
  
  .bg-green-1000{
      background-color: #342A45!important;
      /*opacity: 0.9;*/
  }
  
 
  
  .bg-light1000{
      background-color: rgb(237, 243, 248)!important;
  }
  .bg-green-2000{
    background-color: #3E676E;
    color: whitesmoke;
  }
  .text-verde {
    color: #3E676E!important;
  }
  .pregunta {
      font-size: 1.1rem;
  }
  .exito{
      font-size: 0.7rem;
      font-weight: bold;
      color: lightsalmon;
  }
  .centrar{
    display: block;
    margin: auto;
  }
  /*ALTO FIJO DE UN DIV, EN ESTE CASO CON CLASE .CAJASPIE*/
  .cajaspie{
      height: 250px;
      max-width: 24rem;
  }
  .card-body{
      overflow: auto;
  }
  .jumbotron{
      padding: 1.2rem 1.2rem;
      margin-bottom: 1.1rem;
      height: 650px;
      overflow: auto;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
  }
  .navbar-light .navbar-brand {
    color: rgba(255,255,255,1);
  }
  
  .error {
    color: #ff0000;
    font-weight: bolder;
    /*font-size: 0.7rem;*/
    padding:1px 20px 1px 5px;
  }
  
  
  .cuestionario label{
    font-weight: bolder;
    font-size: 0.9rem;
  }
  .cuestionario label span{
    font-weight: normal;
  }
  .titulo{
    margin-left: auto;
    margin-right: auto;
    color: red;
  }
  
  
  
  
  
      /**************************************/
      /*********HOVER ELEMENT*************/
  
      .ih-item {
        position: relative;
        margin-left: auto;/**/
        margin-right: auto;/**/
        margin-top: 5px;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
      }
      .ih-item,
      .ih-item * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      .ih-item a {
        color: #333;
      }
      .ih-item a:hover {
        text-decoration: none;
      }
      .ih-item img {
        width: 100%;
        height: 100%;
      }
      
      .ih-item.circle {
        position: relative;
        width: 220px;
        height: 220px;
        border-radius: 50%;
      }
      .ih-item.circle .img {
        position: relative;
        width: 220px;
        height: 220px;
        border-radius: 50%;
      }
      .ih-item.circle .img:before {
        position: absolute;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
      }
      .ih-item.circle .img img {
        border-radius: 50%;
      }
      .ih-item.circle .info {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        border-radius: 50%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .ih-item.square {
        position: relative;
        width: 216px;
        height: 100%;
        border: 8px solid #fff;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
      }
      .ih-item.square2 {
        width: 150px;
        height: 100%;
      }
      .ih-item.square .info {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
  
  
  /*****EFECT 1 CIRCLE********/
      .ih-item.circle.effect1 .spinner {
        width: 230px;
        height: 230px;
        border: 10px solid #C9C9CA;
        border-right-color: #004d8e;
        border-bottom-color: #004d8e;
        border-radius: 50%;
        -webkit-transition: all 0.8s ease-in-out;
        -moz-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out;
      }
      .ih-item.circle.effect1 .img {
        position: absolute;
        top: 10px;
        bottom: 0;
        left: 10px;
        right: 0;
        width: auto;
        height: auto;
      }
      .ih-item.circle.effect1 .img:before {
        display: none;
      }
      .ih-item.circle.effect1.colored .info {
        background: #1a4a72;
        background: rgba(26, 74, 114, 0.6);
      }
      .ih-item.circle.effect1 .info {
        top: 10px;
        bottom: 0;
        left: 10px;
        right: 0;
        background: #333333;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        -webkit-transition: all 0.8s ease-in-out;
        -moz-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out;
      }
      .ih-item.circle.effect1 .info h3 {
        color: #fff;
        text-transform: uppercase;
        position: relative;
        letter-spacing: 2px;
        font-size: 22px;
        margin: 0 30px;
        padding: 55px 0 0 0;
        height: 110px;
        text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
      }
      .ih-item.circle.effect1 .info p {
        color: #bbb;
        padding: 10px 5px;
        font-style: italic;
        margin: 0 30px;
        font-size: 12px;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
      }
      .ih-item.circle.effect1 a:hover .spinner {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      .ih-item.circle.effect1 a:hover .info {
        opacity: 1;
      }
  
  /*****EFECT 13 SQUARE********/
      .ih-item.square.effect13 {
        overflow: hidden;
      }
      .ih-item.square.effect13.colored .info {
        background: #1a4a72;
        background: rgba(26, 74, 114, 0.6);
      }
      .ih-item.square.effect13.colored .info h3 {
        background: rgba(12, 34, 52, 0.6);
      }
      .ih-item.square.effect13 .img {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
      }
      .ih-item.square.effect13 .info {
        background: #333333;
        background: rgba(0, 0, 0, 0.6);
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
      }
      .ih-item.square.effect13 .info h3 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        font-size: 17px;
        padding: 10px;
        background: #111111;
        margin: 30px 0 0 0;
      }
      .ih-item.square.effect13 .info p {
        font-style: italic;
        font-size: 12px;
        position: relative;
        color: #bbb;
        padding: 20px 20px 20px;
        text-align: center;
      }
      .ih-item.square.effect13 a:hover .img {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
      }
      .ih-item.square.effect13 a:hover .info {
        visibility: visible;
        opacity: 1;
      }
      
      .ih-item.square.effect13.left_to_right .info {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
      }
      .ih-item.square.effect13.left_to_right a:hover .info {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
      }
      
      .ih-item.square.effect13.right_to_left .info {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
      }
      .ih-item.square.effect13.right_to_left a:hover .info {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
      }
      
      .ih-item.square.effect13.top_to_bottom .info {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
      }
      .ih-item.square.effect13.top_to_bottom a:hover .info {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
      }
      
      .ih-item.square.effect13.bottom_to_top .info {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
      }
      .ih-item.square.effect13.bottom_to_top a:hover .info {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
      }
  /*****EFFECT 7 SQUARE********/
  .ih-item.square.effect7 {
    overflow: hidden;
  }
  .ih-item.square.effect7.colored .info {
    background: #1a4a72;
    background: rgba(26, 74, 114, 0.6);
  }
  .ih-item.square.effect7.colored .info h3 {
    background: rgba(12, 34, 52, 0.6);
  }
  .ih-item.square.effect7 .img {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  .ih-item.square.effect7 .info {
    background: #333333;
    background: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  .ih-item.square.effect7 .info h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    background: #111111;
    margin: 30px 0 0 0;
    -webkit-transform: scale(4);
    -moz-transform: scale(4);
    -ms-transform: scale(4);
    -o-transform: scale(4);
    transform: scale(4);
    -webkit-transition: all 0.35s 0.1s ease-in-out;
    -moz-transition: all 0.35s 0.1s ease-in-out;
    transition: all 0.35s 0.1s ease-in-out;
  }
  .ih-item.square.effect7 .info p {
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #bbb;
    padding: 20px 20px 20px;
    text-align: center;
    -webkit-transform: scale(5);
    -moz-transform: scale(5);
    -ms-transform: scale(5);
    -o-transform: scale(5);
    transform: scale(5);
    -webkit-transition: all 0.35s 0.3s linear;
    -moz-transition: all 0.35s 0.3s linear;
    transition: all 0.35s 0.3s linear;
  }
  .ih-item.square.effect7 a:hover .img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  .ih-item.square.effect7 a:hover .info {
    visibility: visible;
    opacity: 1;
  }
  .ih-item.square.effect7 a:hover .info h3,
  .ih-item.square.effect7 a:hover .info p {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  
  /********/
  /******ACORDEON***************/
  .card-acord{
    border-radius: 25px;
    width: 100%;
  }
  .card-acord:hover,
  .card-acord:focus {
    box-shadow: none;
    transform: none;
  }
  .myaccordion {
    max-width: 100%;
    margin: 50px auto;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
  }
  .myaccordion .card,
  .myaccordion .card:last-child .card-header {
    border: none;
  }
   
  .myaccordion .card-header {
    border-bottom-color: #EDEFF0;
    background: transparent;
  }
   
  .myaccordion .fa-stack {
    font-size: 18px;
  }
   
  .myaccordion .btn {
    width: 100%;
    font-weight: bold;
    color: #004987;
    padding: 0;
  }
   
  .myaccordion .btn-link:hover,
  .myaccordion .btn-link:focus {
    text-decoration: none;
  }
   
  .myaccordion li + li {
    margin-top: 10px;
  }