
.row-height{
    min-height: 30rem;
    /*height: 70vh;*/
  }

.mimg{
      overflow: hidden;
      position: relative;
      height: 250px;
      width: 248px;
      margin: 0px;
      padding: 0px;
    }
  img.fader{
    height: 100%;
    margin: 1px;
  }
  img.fader:hover{
    float: right;
  }

.boton-sec:hover,
.boton-sec:focus {
  box-shadow: 0px 0px 0px 0px #888888;
  transform: translateY(-0.75em);
}


/*LINEAS QUE ESTILIZAN LOS SROLL*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
    /*el color de la barrita de desplazamiento*/
  background: rgb(80, 76, 82);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background:rgba(0,0,15,0.7);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0,0,15,1);
}
::-webkit-scrollbar-track {
  
  /* color de fondo de la barrita de desplazamiento
  background: #666666;*/
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: lightsalmon;
   /*#333333;*/
}
::-webkit-scrollbar-corner {
  background: transparent;
}
body { 
    SCROLLBAR-FACE-COLOR:red; 
    SCROLLBAR-HIGHLIGHT-COLOR: brown; 
    SCROLLBAR-SHADOW-COLOR: #6699CC; 
    SCROLLBAR-3DLIGHT-COLOR: #FFFFFF; 
    SCROLLBAR-ARROW-COLOR: #FFFFFF; 
    SCROLLBAR-TRACK-COLOR: #E3E3E3; 
    SCROLLBAR-DARKSHADOW-COLOR: #000000; 
  }





